/* Define the names of all our breakpoints in the HEAD element: (In ascending order, beginning with the default/no-breakpoints name) */
HEAD * { font-family: "defaultbreakpoint","phone","tablet","desktop","widescreen"; }

/* When media-queries not supported: */
HEAD { font-family: 'defaultbreakpoint'; }

/* Otherwise when media-queries are supported: */
@media (min-width: 80em) { HEAD { font-family: "widescreen"; } }
@media (max-width: 80em) { HEAD { font-family: "desktop"; } }
@media (max-width: 60em) { HEAD { font-family: "tablet"; } }
@media (max-width: 40em) { HEAD { font-family: "phone"; } }
